.task-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .item-container2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-container1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .edit-icon{
    cursor: pointer;

  }

  .input-field{
    display: flex;
  }

  .cancel-save-btns{
    display: inline-block;
  }

  .example-form-field{
    width: fit-content;
  }

  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .time {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    z-index: 1;
  }