@page
@model MultiUserBloggingPlatform.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "View All Posts";
}
<h2>All Posts</h2>

@*@foreach (var post in Models.Post)
{
    <div>
        <p>@post.postText</p>
        <p>Author: @post.UserID</p>
    </div>
}*@