@page
@model MultiUserBloggingPlatform.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "User Registration";
}
<h2>Register</h2>
<hr>

<form method="post">
    <div class="RegisterFormElements">
        <label for="Username">Username</label>
        <input type="text" class="RegisterFormInput" id="Username" name="Username" required>
    </div>
    <div class="RegisterFormElements">
        <label for="Password">Password</label>
        <input type="password" class="RegisterFormInput" id="Password" name="Password" required>
    </div>
    <div class="RegisterFormElements">
        <label for="Email">Email</label>
        <input type="email" class="RegisterFormInput" id="Email" name="Email" required>
    </div>
    <button type="submit" class="btn register">Register</button>
</form>

