  li{
    list-style: none;
  }

  .custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the card takes full height of the container */
    margin: auto; /* Center horizontally within parent */
  }
  