<mat-card class="mat-layout-item">
  
  <mat-card-title class="card-title-container">
    {{ title }}
  </mat-card-title>

  <ng-container [ngSwitch]="listType">

    <ng-container *ngSwitchCase="'active'">
      <!-- active task list content will go here -->
      <app-active-task-list
        [activeTasks]="activeTasks"
        (taskDropped)="drop($event)"
        (taskAddedinActiveTasks)="updateService($event)">
      </app-active-task-list>
    </ng-container>

    <ng-container *ngSwitchCase="'completed'">
      <!-- completed task list content will go here -->
      <app-completed-task-list 
      [completedTasks]="completedTasks"
      (taskDropped)="drop($event)"></app-completed-task-list>
    </ng-container>

  </ng-container>

</mat-card>
